# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
.venv/
venv/
env/

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Variables de entorno
.env
.env.*

# Distribución / compilación
dist/
build/
*.egg-info/

# Nuitka output
*.exe
*.dist/
*.build/

# IDE
.idea/
.vscode/
*.swp

# MariaDB Portable (binarios no se suben al repositorio)
# Usando vendor/mariadb/* en lugar de vendor/mariadb/ para que la excepción funcione
vendor/mariadb/*
!vendor/mariadb/my.ini
